<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      var twitchAuthUrl = <%- JSON.stringify(authUrl) %>;
    </script>
    <title>DotaVoicelineApi - Registration</title>
    <script type="module" crossorigin src="/assets/frontend-main.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/frontend-nightbotSubmitCommand.js">
    <link rel="stylesheet" href="/assets/frontend-index2.css">
  </head>
  <body>
    <div id="root"></div>
    
  </body>
</html>
