@import "./css/header.css";
@import "./css/instructionsSection.css";
@import "./css/setupInstruction.css";
@import "./css/setupSection.css";
@import "./css/registerButton.css";
@import "./css/footer.css";
@import "./css/fonts.css";

* {
  margin: 0;
  padding: 0;
}

.removeLinkDecoration {
  text-decoration: none;
  color: inherit;
}

.textLink {
  color: #c37367;
  text-decoration: none;
  cursor: pointer;

  transition: color 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.textLink:hover {
  color: #e2bcb6;
  transition: color 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

#heroPageDiv {
  width: 100%;
  height: 1024px;

  background: linear-gradient(180deg, #4e4e4e 0%, #1d1d1d 100%);
}

.heroDescription {
  margin-top: 128px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

.heroDescription > .title {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}

.heroDescription > .subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.64;
}

.heroImageContainer {
  max-width: 720px;
  max-height: 400px;

  margin: 64px auto 0;
  border-radius: 40px;
  overflow: hidden;

  box-shadow: 0px 42px 48px 24px rgba(156, 156, 156, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.heroImage {
  display: block;
  width: 100%;
}


.buttonContainer {
  margin: 64px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}